.col-md-12 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.col-md-6 {
    display: inline-block;
    text-align: left; /* reset text alignment for inner content */
    margin: 0 auto;
}
